<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add Slide</title>
</head>
<body>
<div class="modal-content">
    <span class="close">&times;</span>
    <h1>Новый слайд</h1>
    <form action="{{ route('slides.store', {'course': courseId}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div>
            <label for="title">Название слайда: </label>
            <input type="text" id="title" name="title" required>
        </div>
        <button type="submit">Добавить слайд</button>
    </form>
</div>
</body>
</html>
