<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Слайд : {{ slide.title }}</title>
</head>
<body>
<div class="container">
    <div class="slide-list">
        {% include 'slide_list.twig' with {'slides': slides, 'courseId': courseId, 'is_admin': is_admin, 'is_user': user, 'submissionToken': submissionToken} %}
    </div>
    <div class="content">
        <p>{{ slides.description }}</p>
    </div>
</div>
</body>
</html>
